.body-container {
    width: 100%;
    height: auto;
    
}

.sec1-head {
    position: relative;
    margin-top: 200px;
}

.sec1-head h1 {
    margin: 0;
    padding: 0;
    font-size: 90px;
    text-align: center;
}

.icon {
    width: 75px;
    height: 75px;
}

.bitcoinIcon, .ethereumIcon {
    position: relative;
    animation: iconMove 0.8s ease-in 2s infinite alternate;
}

@keyframes iconMove {
  0%   {top: 0px;}
  100% {top: 25px}
}


