
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
}

.App {
    height: auto;
    --gradient: linear-gradient(0deg, #0f051d 30%, #130749 70%);
    background-image: linear-gradient(0deg, #0f051d 30%, #130749 90%);
}
